<!DOCTYPE html>
<html>
<head>
    <title>Dodaj projekt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container mt-4">
        <h1>Dodaj nowy projekt</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Dodaj projekt</button>
        </form>
        
        <a href="{{ url_for('admin') }}" class="btn btn-secondary">Wróć do panelu administratora</a>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
