<!DOCTYPE html>
<html>
<head>
    <title>Zarządzaj użytkownikami</title>
</head>
<body>
    <h1>Zarządzaj użytkownikami</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Rola</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('dashboard') }}">Wróć do panelu użytkownika</a>
</body>
</html>
