<!DOCTYPE html>
<html>
<head>
    <title>Create an Account - Bug Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Create an Account</h1>
                <form method="POST" action="/register">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.new_username.label(for="new-username") }}
                        {{ form.new_username(class="form-control", id="new-username") }}
                    </div>
                    <div class="form-group">
                    {{ form.new_password.label(for="new-password") }}
                    {{ form.new_password(class="form-control", id="new-password") }}
                    </div>
                    <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>